# autoreconf
/autom4te.cache/
/build-aux/
/aclocal.m4
/configure
/Makefile.in

# configure
.deps/
/config.log
/config.status
/libtool
/Makefile

# misc
.dirstamp
/doc/*.1
/doc/*.5
/doc/*.header
/.libs/

# object code
*.o
*.lo
*.a
*.la

# binaries
/bpgdec
/bpgenc
/bpgview

