# autoreconf
/autom4te.cache/
/build-aux/
/aclocal.m4
/configure
/Makefile.in

# configure
.deps/
/config.log
/config.status
/libtool
/Makefile

# misc
.dirstamp
/man/*.1
/man/*.5
/man/templates/*.header
/.libs/

# object code
*.o
*.lo
*.a
*.la

# binaries
/bpgdec
/bpgenc
/bpgview

